* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
} 

.cabecalho-container-1 {
    justify-content: space-between;
    display: flex;
    padding: 20px 75px 0px 75px;
    align-items: center;
    z-index: 2;
}

body {
    background: rgba(6, 23, 51, 1);
}

#menu-cabecalho {
    background-color: #ffffff46;
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
    padding: 10px 13px;
    border-radius: 50px;
}

#menu-cabecalho li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item {
    background-color: #07B198;
    padding: 10px;
    border-radius: 50px;
}

.item1 {
    padding: 10px;
}

.logo {
    margin-top: 0.5%;
    width: 5rem;
    height: 2rem;
}

.texto-container-1 {
    color: white;
    margin-top: 4%;
    padding-left: 75px;
    display: flex;
}

.texto-container-1 h1 {
    font-size: 55px;
    font-weight: bold;
}

.texto-container-1 p {
    margin-top: 20px;
    width: 600px;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 12px;
}

.button {
    margin-top: 10PX;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    background-color: #2c9caf;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #70bdca;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

.button a {
    text-decoration: none;
    color: white;
}

.color {
    color: #2c9caf;

}

.blur {
    border-radius: 15px;
    z-index: 1;
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(119, 164, 236);
    margin-left: 59%;
    margin-top: 1%;
    filter: blur(90px) brightness(2.5);
    opacity: 0.5;
}

.blur1 {
    z-index: 1;
    background-color: #000;
    border-radius: 50%;
    width: 20rem;
    height: 9rem;
    position: absolute;
    margin-left: 62.5%;
    margin-top: 17%;
    filter: blur(10px);
    transform: rotate(-5deg);
    opacity: 0.4;
}

#cam {
    width: 400px;
    z-index: 2;
    margin-left: 280px;
    margin-top: 1%;
}
